# Dependencies
frontend/node_modules/
backend/vendor/bundle/

# Build output
frontend/dist/

# Rails
backend/tmp/
backend/log/
backend/*.env
backend/.env*
backend/config/master.key
backend/config/credentials/*.key

# Docker
.env

# OS
.DS_Store
Thumbs.db
